<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>list</string>
		<key>title</key>
		<string>List of Students</string>
		<key>imageName</key>
		<string>info</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>add</string>
		<key>title</key>
		<string>Add Student</string>
		<key>imageName</key>
		<string>add</string>
	</dict>
</array>
</plist>
